.user_coins{
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid hsla(0, 0%, 100%, .1);
  white-space: nowrap;
}
/*.header_acc{*/
/*  margin-left: 0;*/
/*}*/
.search_form_hero{
  max-width: 1061px;
  margin: 60px auto 0;
  background: rgba(24, 34, 68, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 12px 16px;
  border-radius: 8px;
}
.popular_games{
  margin-bottom: 96px;
  margin-top: 60px;
}
.hero__games_wrap h3{
  margin-bottom: 0;
  font-family: Outfit-f, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.steps{
  background-color: rgba(15, 10, 40, 1);

}

.mega-menu__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 4px;

}

.mega-menu__title-categories .mega-menu__search {
  max-width: 600px;
}

.result_bottom_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.result_bottom_wrap .results_btn{
  padding: 0;
}
.result_bottom_wrap .results_btn a{
  border-radius: 8px;
  padding: 8px 24px;
  font-family: Outfit-f, sans-serif;
}

.result_bottom_wrap .result_search_text p,
.result_bottom_wrap .result_search_text a {
  font-family: Niveau-Grotesk-f, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: right;

}
.site_balance_checkout_wrap p{
  font-family: Outfit-f, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
  color: rgba(255,255,255, 50%);
}

.site_balance_checkout_wrap input{

  padding: 12px 16px;
  background: rgba(24, 34, 68, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  font-family: Outfit-f, sans-serif;
  font-size: 14px;
  color: #fff;
  width: 100%;
  text-align: left;
}

.site_balance_checkout_wrap input::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  opacity: .3;
}
/*.site_balance_checkout_wrap p*/

.hero__games-description .hero__games-content p{
  font-family: Outfit-f, sans-serif;
}

.footer__all-content{
  display: grid;
  grid-template-columns: 290px 1fr 290px;
  column-gap: 7%;
  row-gap: 40px;
}
.footer__games ul li:not(:nth-child(-n+20)) {
  display: none;
}
.footer__games ul.show li {
  display: block;
}
.footer__games h5{
  font-family: Outfit-f, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  margin-bottom: 24px;
}
.footer__games ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 10px;
  align-items: center;
}

.footer__games a{
  font-family: Outfit-f, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-transform: capitalize;
  color: rgb(255 255 255 / 50%);
}
.btn_show_more{
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
}
.footer__menu{
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 15px;
}
.footer__coopyright{
  margin-top: auto;
}
.footer__coopyright_dev{
  text-align: right;
}
.external{
  text-transform: uppercase;
}

.section__intro__arena{
  background: linear-gradient(180deg, rgba(10, 6, 29, 0) 0%, #0A061D 89.09%);
}
.section__intro__arena .container{
  position: relative;
  z-index: 66;
}

.section__intro__mini h1,
.section__intro__arena p{
  text-shadow: none;
}
.section__intro__mini .navbar li a{
  opacity: 1;
}
.section__intro__arena p{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.section__intro__mini h1{
  font-family: Outfit-f, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}
.section__advantages{
  position: relative;
  margin-top: -140px;
}
.section__advantages:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150px;
  display: block;
  background: linear-gradient(180deg, rgba(10, 6, 29, 0) 0%, #0A061D 71.09%)

}
.tab_title_wrap{
  margin-top: 0;
}
.section__intro__mini {
  padding-top: 64px !important;
}

.section__boosting_question {
  overflow: hidden;

}
.boosting_question_wrap{
  position: relative;
  background: rgba(17, 9, 64, 1);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 37px 45px;
}
.boosting_question_bg{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  opacity: .1;
}
.boosting_question_text{
  position: relative;
  z-index: 2;
}

.boosting_question_text h2 {
  font-family: Outfit-f, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.4px;
  color: #fff;
  margin-bottom: 0;
}

.section__advantages_items{
  margin-top: 80px;
  padding-bottom: 80px;

}
.advantages_item{
  max-width: 60%;
  margin-left: 20%;
}
.advantages_item_icon{
  max-width: 48px;
  margin-bottom: 16px;
  filter: drop-shadow(0 0px 14px rgba(255,204,73,0.8));
}
.advantages_item_icon p{
  font-family: Niveau-Grotesk-f, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.section__howtoorder{
  position: relative;
  padding-top: 88px;
  padding-bottom: 129px;
}
.section__howtoorder:before,
.section__howtoorder:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-image: linear-gradient(90deg, #0A061D 0%, #0850ED 47%, #0A061D 100%);
}
.section__howtoorder:before{
  top: 0;
}
.section__howtoorder:after{
  bottom: 0;
}


.section__bottom__text__arena h2{
  color: #fff;
  text-align: left;
}
.section__bottom__text__arena p{
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255 255 255 / 50%);

}
.section__bottom__text__arena img{
  margin-inline: auto;
  display: block;
}
.section__bottom__text__arena strong{
  font-weight: bold;
  font-family: Outfit-f, sans-serif;
}
.section__bottom__text__arena h3,
.section__bottom__text__arena h4
{
  font-family: Outfit-f, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}


.boost_services__section{
  padding-top: 0px;
  padding-bottom: 130px;
}
.boost_services__section h2 {
  color: #fff;
  font-family: 'OPTINonoy-Bold';
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.boost_services__wrap{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 13px;
  margin-top: 44px;
}
.boost_services__item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  background-color: #100B28;
flex-direction: column;
  gap: 24px;
  text-align: center;
  background-image: url("../img/bg_111.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  min-height: 268px;
}

.boost_services__item h6{
  font-family: Outfit-f, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40.32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #098CEC;
}
.boost_services__item p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255 255 255 / 50%);
}

.advantages_item_wrap{
  margin-top: 56px;
  gap: 40px;
}

.advantages_item_wrap .advantages_item{
  max-width: calc(100% / 4 - 30px);
  margin-left: 0;
}

.advantages_item_wrap .advantages_item p{
  font-size: 16px;

}
.rating__body li{
  padding-top: 0;
}
.section__intro__mini p{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.section__intro__mini strong {
  color: #ffb800;
}
.section__intro__mini h2{
  font-family: Outfit-f, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-bottom: 24px;
}
.section__intro__mini h3{
  font-family: Outfit-f, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.section__intro__mini h3 strong{
  color: #fff;
}

.cart_options_wrap{
  position: sticky;
  top: 72px;
  max-height: 90vh;
  overflow-y: auto;
}

.is_admin .cart_options_wrap{
  top: 108px;
}


.save_payment_wrap{
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  background: rgba(9, 140, 236, 1);
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}
.save_payment_wrap_bg{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: .2;
}

.save_payment_wrap_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.save_payment_wrap_text,
.save_payment_img{
  position: relative;
  z-index: 1;
}
.save_payment_wrap_text{
  width: calc(100% - 300px);
}
.save_payment_wrap_text h2{
  font-family: Outfit-f, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.save_payment_wrap_text p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.save_payment_img{
max-width: 200px;
  width: 100%;
  filter:
    drop-shadow(-3px 3px 10px rgba(0, 19, 97, 0.64))
    drop-shadow(-12px 12px 17px rgba(0, 19, 97, 0.55))
    drop-shadow(-28px 27px 23px rgba(0, 19, 97, 0.33))
    drop-shadow(-49px 49px 28px rgba(0, 19, 97, 0.1))
    drop-shadow(-77px 76px 30px rgba(0, 19, 97, 0.01));

}
.save_payment_img img{
  max-width: 80%;
}

.found_cheaper{
  display: flex;
  align-items: center;
  gap: 8px;
}

.found_cheaperModal{
  backdrop-filter: blur(20px);
  background: rgba(10, 6, 29, 0.3);
}

.found_cheaperModal .modal-dialog{
  max-width: 1005px;

  padding: 40px;
}

.found_cheaperModal .modal-content{
  background: linear-gradient(180deg, #0066B1 0%, #0B004B 100%);
  border: 2px solid  rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

.found_cheaperModal .modal-content .modal-header h5{
  font-family: Outfit-f, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-bottom: 60px;
}

.after_order_wrap{
  display: flex;
  align-items: flex-start;
}

.after_order_item{
  width: calc(100% / 3);
  position: relative;
  padding-right: 15px;
}
.after_order_item:before{
  content: '';
  position: absolute;
  top: 30px;
  right: 15px;
  display: block;
  height: 1px;
  width: calc(100% - 94px);
  background-image: linear-gradient(90deg, rgba(54, 164, 242, 0) 0%, #FFFFFF 51.5%, rgba(61, 165, 242, 0) 100%);
}
.after_order_item:last-child:before{
  content: none;
}

.after_order_item_number{
  font-family: Outfit-f, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, .15);
  padding: 20px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
 box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
}
.after_order_item_text{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}
.buttons .add_to_cart{
  border: 2px solid rgba(9, 140, 236, 1);
  border-bottom: 2px solid rgba(9, 140, 236, 1);
  font-size: 15px;
}

.js-tab-body{
  max-height: 1150px;
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
}

.js-tab-body:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(10, 6, 29);
  z-index: 1;
}
.js-tab-body.active{
  max-height: unset;
}
.section__intro__mini p.read_more_text{
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: underline;
  color: rgba(9, 140, 236, 1);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  margin-bottom: 0;
}


.gold_cart{
  display: grid;
  grid-template-columns: 1fr 477px;
  gap: 24px;
  align-items: flex-start;
}
.product_spec_choose,
.cart_options_wrap
{
  background: rgba(26, 21, 52, 1);
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
.product_spec_choose .control{
  margin-bottom: 0;
}
.server_choose_wrap{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 30px 40px;
  gap: 30px;
}
.server_choose_wrap p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}

.server_choose_list{
  display: flex;
  align-items: center;
  flex: auto;
  gap: 16px;
  flex-wrap: wrap;
}
.server_choose_list .control{
  margin-bottom: 0;
  flex: 1 1 168px;
  cursor: pointer;
}

.product_spec_choose .control input{
  display: none;
}
.product_spec_choose .control input:checked + span{
  background: rgba(9, 140, 236, 1);

}
.product_spec_choose .control span{
  pointer-events: none;
  font-family: Outfit-f, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  padding: 16px 8px;
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 2px solid rgba(51, 46, 81, 1);
  text-transform: uppercase;
}
.product_spec_choose .control:hover span {
  background: rgba(9, 140, 236, 1);
}


.gold_choose{
  padding: 30px 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.gold_choose .control{
  flex: 133px;
}

.gold_custom_amount{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(67, 61, 99, 1);
  border-radius: 8px;
  padding: 16px 24px;
  font-family: Outfit-f, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 30px 40px;
  margin-top: 0;
}
.gold_custom_amount_count{
  cursor: pointer;
}
.gold_custom_amount_value{
  display: flex;
  justify-content: center;
  /*max-width: 100px;*/
  text-transform: uppercase;
  align-items: center;
}

.gold_custom_amount_value input{
  background: none;
  border: none;
  width: fit-content;
  text-align: center;
  color: #fff;
  /*max-width: 90px;*/
}

.gold_total_wrap{
  background: rgba(9, 140, 236, 0.2);
  padding: 22px;
  display: flex;
align-items: center;
  gap: 70px;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.gold_total_wrap p{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #fff
}
.gold_total_wrap b{
  font-family: Outfit-f, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(9, 140, 236, 1);

}

.gold_total_item{
  display: flex;
  align-items: center;
  gap: 24px;
}


.cart_options_head{
  padding: 32px;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(62, 56, 93, 1);
}
.cart_options_head h3{
  font-family: Outfit-f, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.cart_options_list{
  margin-top: 24px;
}
.cart_options_list_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 6px;
  background: rgba(36, 30, 63, 1);
  margin-bottom: 4px;
}
.cart_options_list_item p{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}
.cart_options_list_item b{
  font-family: Outfit-f, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(9, 140, 236, 1);
}
.cart_options_list .btn-main{
  font-size: 24px;
  padding: 24px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
}


.cart_options_footer h6{
  font-family: Outfit-f, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.cart_options_footer{
  padding: 27px 32px;
}
.cart_options_footer .start_chat{
  border: 2px solid rgba(9, 140, 236, 1);
  box-shadow: 0px 20px 40px 0px rgba(9, 140, 236, 0.15);
  background: transparent;
  padding: 16px;
  width: 100%;
  text-align: center;
  font-family: Outfit-f, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #fff;
  margin-top: 26px;
  border-radius: 8px;
}

.cart_options_footer .start_chat:hover{
  background: rgba(9, 140, 236, 1);
}
/*mobile*/


@media screen and (min-width: 1280px) {
  body:not(.home) section{
    padding-left: 0 !important;
    width: calc(100% - 18vw);
    margin-left: auto;
  }
  body:not(.home) section .container {
    max-width: 95%;
  }
  .section__intro__mini{
    padding-bottom: 104px;
  }

}

@media screen and (max-width: 1600px) {
  body:not(.home) .footer__all-content{
    grid-template-columns: 190px 1fr 190px;
    column-gap: 4%;
  }
}
@media screen and (max-width: 1440px) {
  .footer__all-content{
    column-gap: 5%;
  }
  body:not(.home) .footer__all-content{
    grid-template-columns: 190px 1fr 190px;
    column-gap: 4%;
  }
}
@media screen and (max-width: 1280px) {
  .header_acc>div{
    font-size: 12px;
  }

  .user_coins p{
    font-size: 12px;
  }
  .user_coins img{
    max-width: 20px;
  }

  .footer__all-content{
    grid-template-columns: 190px 1fr 190px;
  }
  .footer__games ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__games ul li:not(:nth-child(-n+15)) {
    display: none;
  }
  .footer__all-content{
    column-gap: 20px;
  }
  .boost_services__wrap{
    grid-template-columns: repeat(3, 1fr);
  }

  .server_choose_wrap{
    flex-direction: column;
  }

}

@media screen and (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm{
    max-width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .header__inner{
    padding-inline: 0 !important;
  }
  .header_games_menu .btn-text-games{
    display: none;
  }
  h1{
    max-width: unset;
  }
  .menu-icon{
    margin-right: 0;
  }
  .result-search{
    position: fixed;
    left: 5vw;
    top: 63px;
  }

  .empty{
    display: none;
  }
  .footer__all-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .footer__logo-wrapper{
    order: 1;
    width: fit-content;
  }
  .footer__menu{
    order: 3;
    width: 100%;
    gap: 20px;
  }
  .footer__soc-links {
    min-width: unset;
    order: 2;
    justify-content: center;
    margin-left: 0;
  }

  .footer__payments{
    order: 5;
    max-width: 47%;
    width: 100%;
  }
  .footer__payments img{
    max-width: 290px;
  }
  .footer__coopyright{
    order: 4;
    width: 50%;
  }
  .footer__coopyright_dev{
    order: 6;
    width: 46%;
    margin-top: 0;
  }

  .footer__games,
  .btn_show_more{
    display: none;
  }
  .mega-menu__title-row{
    align-items: flex-end;
  }
  .boost_services__wrap{
    grid-template-columns: repeat(2, 1fr);
  }
  .boosting_question_text h2{
    font-size: 32px;
  }
  .boosting_question_bg{
    height: 100%;
    width: 100%;
  }
  .btn-main{
    font-size: 18px;
    padding: 24px 44px;
  }
  .boosting_question_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .boosting_question_wrap{
    padding: 20px;
  }
  .section__howtoorder{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__intro__mini{
    padding-bottom: 120px;
  }

 .section__intro__mini .hero_overal_rating{
   margin-left: auto;
  }

  .found_cheaperModal .modal-content{
    padding: 15px;
  }

  .found_cheaperModal .modal-content .modal-header h5{
    margin-bottom: 30px;
  }

.after_order_item{
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  .after_order_item:before{
    content: none;
  }
  .save_payment_wrap_bg{
    width: 100%;
    height: 100%;
  }
  .found_cheaperModal .modal-dialog{
    padding: 10px;
  }

  .gold_cart{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:767px) {

  .button{
    font-size: 12px;
  }
  .gladiator_dashboard_admin_dash{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .user_coins{
    border: none;
  }
  .user_coins img{
    max-width: 20px;
  }
  .user_coins p{
    font-size: 12px;
  }
  .header_games_menu{
    margin-right: 0;
  }
  .footer__all-content{
    column-gap: 0;
  }
  .footer__soc-links{
    width: 100%;
    justify-content: flex-start;
    margin-block: 15px;
    order: 4;
  }
  .footer__menu{
    order: 2;
    margin-top: 38px;
  }

  .footer__coopyright,
  .footer__coopyright_dev{
    width: 100%;
    margin: 0;
  }
  .footer__coopyright p,
  .footer__coopyright_dev p{
    margin-bottom: 0;
  }
  .footer__payments{
    order: 3;
    max-width: 100%;
  }

  .footer__coopyright{
    order: 5;
  }
  .footer__coopyright_dev{
    order: 6;
  }

  .footer__coopyright p:first-child{
    margin-bottom: 0;
  }
  .hero__games{
    column-gap: 8px;
  }
  .boost_services__item h6{
    font-size: 26px;
  }
  .howtoorder__list li{
    margin-bottom: 2rem;
  }
  .boosting_question_text{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .advantages_item{
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .after_order_wrap{
    flex-direction: column;

  }
  .save_payment_wrap{
    flex-direction: column-reverse;
    padding: 15px;
  }
  .save_payment_img{
    margin-bottom: 30px;
  }
  .save_payment_wrap_text{
    width: 100%;
  }

  .advantages_item_wrap{
    flex-wrap: wrap;
    gap: 10px;
  }
  .advantages_item_wrap .advantages_item{
    max-width: calc(100% / 2 - 5px);
  }
  .footer__coopyright_dev{
    text-align: left;
  }
  .gold_choose,
  .server_choose_wrap{
    padding-inline: 20px;
  }
  .gold_custom_amount{
    margin-inline: 20px;
  }

  .product_spec_choose .control span{
    font-size: 16px;
    padding-block: 8px;
  }
}

@media screen and (max-width: 575px) {
  .cart_options_head,
  .cart_options_footer{
    padding-inline: 15px;
  }
  .gold_total_item   {
    flex-direction: column;
  }
  .server_choose_list,
  .gold_choose{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .gold_custom_amount_value input{
    max-width: 60px;
  }
  .gold_total_wrap b{
    font-size: 24px;
  }
  .gold_total_item{
    gap: 2px;
  }
  .cart_options_list .btn-main{
    font-size: 16px;
  }
  .gold_total_wrap{
    padding: 10px 15px;
    justify-content: space-around;
  }
  .server_choose_list .control,
  .gold_choose .control
  {
    flex: 1 1 100%;
  }
  .hero__games_wrap h3{
    font-size: 32px;
    line-height: 40px;
  }
  .header_acc{
    column-gap: 0;
  }
  .user_coins{
    gap: 2.5px;
  }

}

@media screen and (max-width: 475px) {
  .header__logo{
    left: 70px;
  }
  .result-search{
    padding: 15px;
  }
  .boost_services__wrap {
    grid-template-columns: 1fr;
  }
}

.search_home_wrap{
  position: relative;
  max-width: 1061px;
  margin: 0 auto;
  box-shadow: 0 4px 80px #000;
}
.home_search_ext_result_wrap{
  position: absolute;
  left: 0;
  top: 100%;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  z-index: 55;
  background: rgba(24, 34, 68, 1);
  box-shadow: 0 4px 80px #000;
  border-radius: 8px;
}

.hero__title{
  position: relative;
  z-index: 5;
}

  /* width */
.search_home_wrap::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.search_home_wrap::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.search_home_wrap::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.search_home_wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.home_search_ext_result_wrap ul li a {
  font-family: Niveau-Grotesk-f, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: .4rem;
}

.home_search_ext_result_wrap ul li{
  text-align: left;
  padding: 5px 10px;
}
.faq_section{
  padding-top: 130px;
  padding-bottom: 80px;
}

.faq_section h2{
  text-align: left;
  font-family: Outfit-f, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}
.accordion{
  margin-top: 40px;
}
.accordion .card,
.accordion>.card:not(:last-of-type){
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}
.accordion .card-header{
  padding-inline: 0;
  background-color: transparent;
  padding-block: 26px;

}
.accordion .btn{
  border: none;
  background-color: transparent;
  width: 100%;
  font-family: Outfit-f, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  padding: 0;
  padding-right: 30px;
  text-align: left;

}
.btn.focus, .btn:focus{
  box-shadow: none;
}
.accordion  .card-body {
  padding-inline: 0;
}

.accordion .btn:after {
  content: '+';
  border: none;
  font-size: 30px;
  font-family: Colus;
  color: rgba(254, 254, 254, .2);
  text-transform: uppercase;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  position: absolute;
  top: 26px;
  right: 15px;
  line-height: 15px;
  cursor: pointer;
}

.blog-categories-wrap{
  flex-wrap: wrap;
}
.blog .sort-wrap span{
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .blog.blog section {
    width: 100%;
  }
}

/*New styles 2026*/
@media (max-width: 991px) {
  body.is-fixed-cart .cart_options_item .add_to_cart {
    position: fixed;
    left: 15px;
    bottom: 10px;
    width: calc(100% - 30px);
    z-index: 5;
  }

  body.is-fixed-cart .section__intro__mini .col-lg-9 {
    z-index: -1;
  }
  .buttons .add_to_cart {
    transition: none;
  }
}
.registration__form button.show-password-input {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    padding: 10px;
    background: transparent;
    opacity: 0;
}
.woocommerce-variation-add-to-cart .found_cheaper {
  color:  #098cec;
} 
.balance__label-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.balance__label-wrapper .balance__label-text {
    white-space: normal;  
    overflow-wrap: break-word; 
}
.info-icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: url(../../img/info.svg) no-repeat;
  background-size: contain;
  position: relative;
}
@media screen and (max-width: 575px) {
  .info-icon {
    position: unset;
  }
}
.info-tooltip {
  position: absolute;
  width: 260px;
  background: #FFFFFF;
  color: #121212;
  font-size: 12px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  z-index: 10;
  top: 100%;     
  right: 0;      
  transform: translateY(8px); 
  max-width: none; 
  box-sizing: border-box; 
  z-index: 3;
}
.profile__blocks-wrapper .profile__block-item:nth-child(1) {
  z-index: 2;
}