@charset "UTF-8";
.dropdown, .dropdown > a {
  position: relative;
}
.dropdown .list li a, .offer__item h3 {
  font-family: "Niveau Grotesk", sans-serif;
}
.section__intro h1 {
  font-size: 65px;
  line-height: 1.15;
  margin-bottom: 21px;
}
@media screen and (max-width: 991px) {
  .section__intro h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 575px) {
  .section__intro h1 {
    font-size: 32px;
  }
}
.header__nav {
  width: 100%;
  display: flex;
}
.header__nav > ul {
  margin-right: 0;
  width: 100%;
  text-align: left;
}
.header__nav > ul > li {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.header__nav > ul > li > a {
  font-size: 15px;
  font-family: "Colus";
  color: #fefefe;
  text-transform: uppercase;
}
.header__nav > ul > li > a:after {
  display: none;
}
.header__nav > ul > li > a:hover:after {
  display: none;
}
@media screen and (max-width: 991px) {
  .header__nav {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .header__nav ul {
    width: 100%;
  }
}
.dropdown .list, .select .nice-select .list {
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.dropdown > a {
  padding-right: 0px;
  transition: 0.2s;
  font-size: 15px !important;
  /* margin-right: 25px !important; */
  margin-right: 5px !important;
}
.dropdown .list, .dropdown .list li {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.dropdown .list {
  z-index: 2;
  flex-direction: column;
  border-radius: 8px;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  width: 100%;
}
.dropdown .list li {
  margin-right: 0;
  padding-left: 23px;
  transition: 0.2s;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  margin-bottom: 19px;
}
.offer__item, .offer__item img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.dropdown .list li:last-child {
  margin-bottom: 0;
}
.dropdown .list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #91d6ff;
  border: 1px solid #23426b;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px 4px rgba(29, 155, 231, 0.2) inset;
  box-shadow: 0 0 10px 4px rgba(29, 155, 231, 0.2) inset;
}
.dropdown .list li a {
  width: 100%;
  font-size: 14px;
}
.dropdown .list li a:after {
  content: none;
}
.dropdown .list li a:hover, .dropdown:hover > a {
  color: #1da2f1;
}
@media screen and (max-width: 1480px) {
  .dropdown > a {
    padding-right: 0;
    font-size: 12px !important;
  }
  .dropdown > a:before {
    right: 0;
  }
  .dropdown .list {
    padding: 0 15px;
  }
  .dropdown .list li {
    margin-bottom: 0 !important;
  }
  .dropdown .list li a {
    font-size: 12px !important;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .dropdown > a {
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 991px) {
  .dropdown {
    margin: 8px 20px 9px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .dropdown > a {
    padding: 0 !important;
    margin: 0 auto !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: initial !important;
  }
  .dropdown .list {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    max-width: 320px;
    margin: 0 auto;
    -webkit-filter: none;
    filter: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .dropdown .list li {
    text-align: center;
  }
  .dropdown.open .list {
    height: 0;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown.open .list {
    position: relative;
    padding-top: 15px;
    height: auto;
    padding-bottom: 15px;
  }
}
.dropdown.open .list {
  position: relative;
  padding-top: 15px;
  height: auto;
  padding-bottom: 15px;
}
.offer__item, .select {
  display: -webkit-flex;
  display: -ms-flexbox;
}
.select {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 41px;
}
.select img {
  width: 18px;
  -o-object-fit: contain;
  object-fit: contain;
}
.select .nice-select {
  margin-bottom: 0;
  background-color: transparent;
  font-size: 16px;
  font-family: Colus, sans-serif;
  font-weight: 400;
  padding-left: 10px;
}
.select .nice-select span {
  color: #fff;
}
.select .nice-select:after {
  right: 15px;
}
.select .nice-select .list {
  -ms-flex-direction: column;
  flex-direction: column;
}
.select .nice-select .list li {
  width: 100%;
}
@media screen and (max-width: 1480px) {
  .select {
    margin-left: 0;
  }
  .select img {
    width: 14px;
  }
  .select .nice-select span {
    font-size: 12px;
  }
  .btn__cart {
    margin: 0;
  }
  .btn__cart:before {
    font-size: 18px;
  }
  .btn__cart .b-count {
    width: 14px;
    height: 14px;
  }
}
.section__products {
  padding: 80px 0;
}
.section__products .b-super__button {
  height: 176px;
  margin-bottom: 0;
  border: 7px solid #232542;
}
.section__products .b-super__button .back__stage {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.section__products .b-super__button .back__stage img {
  width: 100%;
  height: 100%;
  right: 0;
}
.section__products .b-super__button .front__stage .btn-title {
  position: absolute;
  bottom: 15px;
  left: auto;
  right: 0;
  background-color: #098cec;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  height: auto;
  width: auto;
  padding: 4px 16px 3px;
}
.section__products .b-super__button .front__stage .btn__object img {
  left: -25px;
}
.section__products .b-super__button:hover .back__stage img {
  width: 100%;
  height: 100%;
  bottom: -7px;
}
.section__deals {
  padding-top: 3vh;
  padding-bottom: 13vh;
}
.section__deals h2 {
  margin-bottom: 49px;
}
.offer__item {
  width: 100%;
  height: 291px;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 8px 8px 8px 30px;
  border: 1px solid #170e36;
  background: #1d0e47;
  background: -webkit-linear-gradient(321deg, #1d0e47 0, #0f0826 100%);
  background: -o-linear-gradient(321deg, #1d0e47 0, #0f0826 100%);
  background: linear-gradient(129deg, #1d0e47 0, #0f0826 100%);
  margin-bottom: 26px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  transition: 0.2s;
}
.howtoorder__list, .navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.offer__item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.offer__item img {
  position: absolute;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  height: -webkit-calc(100% - 16px);
  height: calc(100% - 16px);
  -o-object-fit: cover;
  object-fit: cover;
  top: 8px;
  left: 8px;
  z-index: 0;
  transition: 0.2s;
  overflow: hidden;
}
.offer__item h3 {
  font-style: italic;
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.offer__item .offer__price, .offer__item p {
  font-weight: 400;
  font-family: "Niveau Grotesk", sans-serif;
  z-index: 2;
  position: relative;
}
.offer__item .offer__price {
  font-size: 16px;
  color: #098cec;
  text-transform: uppercase;
}
.offer__item p {
  font-size: 13px;
  color: #fff;
  margin-bottom: 19px;
  text-transform: inherit;
  max-height: 38px;
  overflow: hidden;
}
.aboutus__inner {
  max-width: 1045px;
}
.aboutus__inner .btn a {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  font-family: Colus, sans-serif;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 37px 6px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #098cec;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  margin: 46px auto 77px;
}
.control__checkbox, .navbar li {
  font-size: 16px;
  font-weight: 400;
}
.aboutus__inner .btn a:hover {
  color: #fff;
  background-color: #098cec;
}
@media screen and (max-width: 768px) {
  .rating__table {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .rating__table .rating__table__item {
    width: 50%;
  }
  .control__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.control__items {
  background-color: #09051b;
  width: 100%;
  padding: 22px 35px 19px;
}
@media screen and (max-width: 575px) {
  .control__items {
    padding: 22px 15px 20px;
  }
}
.control__checkbox {
  position: relative;
  margin-right: 30px;
  padding-left: 53px;
  cursor: pointer;
  color: #3d394c;
}
.control__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__checkbox .control_indicator {
  width: 24px;
  height: 24px;
  border: 1px solid #1f1c2b;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 3%;
  left: 0;
}
.control__checkbox .control_indicator:before {
  content: "";
  width: 14px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.control__checkbox input:checked ~ .control_indicator {
  background-color: #098cec;
  border: 1px solid #098cec;
}
.control__checkbox input:checked ~ .control_indicator:before {
  opacity: 1;
}
.navbar {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar li {
  color: #fff;
  margin-bottom: 10px;
}
.navbar li a {
  color: #098cec;
  font-family: "Niveau Grotesk", sans-serif !important;
  font-weight: 400;
  text-transform: inherit;
}
.navbar li:after {
  content: "•";
  color: #fff;
  margin: 0 9px;
}
.navbar li:last-child:after {
  content: none;
}
.section__intro__job {
  padding: 17vh 0 5.5vh !important;
}
.section__howtoorder {
  padding: 7vh 0 15vh;
}
.section__howtoorder h2 {
  text-align: center;
  font-family: Colus, sans-serif;
  color: #fff;
  margin-bottom: 85px;
}
.howtoorder__list {
  display: flex;
}
.howtoorder__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-calc(100%/5);
  width: calc(100% / 5);
  position: relative;
}
.howtoorder__list li h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 11px;
}
.howtoorder__list li p {
  text-align: center;
  color: #646367;
  max-width: 150px;
  font-size: 14px;
}
.howtoorder__list li:last-child .dots__way {
  display: none;
}
.howtoorder__list .howtoorder__img {
  margin-bottom: 5px;
  height: 130px;
}
@media screen and (max-width: 991px) {
  .howtoorder__list .howtoorder__img img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .howtoorder__list li h4 {
    font-size: 16px;
  }
  .howtoorder__list li p {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .howtoorder__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .howtoorder__list li {
    width: -webkit-calc(100%/3);
    width: calc(100% / 3);
  }
  .howtoorder__list li:nth-of-type(3n) .dots__way {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .howtoorder__list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .howtoorder__list li {
    width: -webkit-calc(100%/2);
    width: calc(100% / 2);
  }
  .howtoorder__list li:nth-of-type(3n) .dots__way {
    display: block;
  }
  .howtoorder__list li:nth-of-type(2n) .dots__way {
    display: none;
  }
}
.dots__way {
  position: absolute;
  top: 60px;
  right: -6px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1b1930;
  z-index: 1;
}
.dots__way:after, .dots__way:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1b1930;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dots__way:after {
  left: auto;
  right: 17px;
}
.section__intro__arena {
  padding: 17vh 0 0;
}
.section__intro__arena .navbar {
  margin-bottom: 19px;
}
.section__intro__arena p {
  max-width: 100%;
  margin: 37px auto 20px;
}
.section__bottom__text__arena {
  padding: 6vh 0;
}
.section__bottom__text__arena p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  .section__bottom__text__arena p {
    font-size: 14px;
  }
}
.discount {
  width: -webkit-calc(100% - 33px);
  width: calc(100% - 33px);
  padding: 12px 15px 18px;
  margin-bottom: 15px;
}
.discount .btn a {
  border: none !important;
  padding: 8px 13px 6px !important;
}
@media screen and (max-width: 991px) {
  .discount {
    width: 100%;
  }
}
.header_menu_left {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(24, 20, 49, 0.8);
  max-height: 100vh;
  overflow-y: auto;
}
@media screen and (max-width: 992px) {
  /* width */
  .header_menu_left {
    max-height: unset;
  }
}
.header_menu_left::-webkit-scrollbar {
  width: 5px;
  /* Track */
}
.header_menu_left ::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Handle */
}
.header_menu_left::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
.header_menu_left::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header_wrap {
  display: flex;
  align-items: flex-start;
}
.header__nav {
  justify-content: start;
}
.header__nav ul {
  flex-direction: column;
}
.header__inner {
  width: 100%;
}
.header__logo {
  padding: 30px;
  width: 100%;
}
.header_wow_versions a {
  font-size: 15px;
  font-family: "Colus";
  color: #098cec;
  text-transform: uppercase;
  line-height: 3.667;
  position: relative;
  margin-right: 6vw;
}
@media screen and (max-width: 1200px) {
  .header_wow_versions a {
    margin-right: 15px;
  }
}
.header_wow_versions a:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  transition: 0.2s;
}
.header_wow_versions a:hover:after {
  width: 100%;
}
.header_acc {
  display: flex;
  align-items: center;
}
.btn .my_account {
  border-style: solid;
  border-width: 2px;
  border-color: #098cec;
  border-radius: 4px;
  background-color: rgba(9, 140, 236, 0);
  box-shadow: none;
  font-size: 18px;
  font-family: "Colus";
  padding-left: 34px;
  padding-right: 34px;
  position: relative;
}
.body_fixed {
  overflow: hidden;
}
.header_aside {
  position: fixed;
  left: 24px;
  top: 32px;
  z-index: 9999;
  max-width: 16vw;
  width: 100%;
  height: auto;
  transition: all 0.25s ease-in-out;
}
.header {
  padding-left: 18vw;
}
.tabs_items_wrap {
  display: flex;
  flex-wrap: wrap;
}
.tab_title_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .tab_title_wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
}
.tab_title {
  font-size: 24px;
  font-family: "Niveau Grotesk";
  font-weight: 400;
  color: white;
  margin: 0 25px;
  padding: 0 7px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 20px;
  color: #494369;
  transition: all 0.25s ease;
}
.tab_title.active, .tab_title:hover {
  transition: all 0.25s ease;
  border-color: #098cec;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .tab_title {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}
.tab_item.hidden {
  display: none;
}
.tab_item {
  margin: 0 15px 22px;
}
@media screen and (min-width: 768px) {
  .tab_item {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .tab_item {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }
}
.read_more {
  border-style: solid;
  border-width: 2px;
  border-color: #098cec;
  border-radius: 4px;
  background-color: rgba(9, 140, 236, 0);
  box-shadow: none;
  font-size: 14px;
  font-family: "Colus";
  color: rgba(255, 255, 255, 0.302);
  padding: 12px 36px;
  margin: 0 auto 100px;
  display: block;
  max-width: 160px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.advantage__item p {
  color: rgba(255, 255, 255, 0.6);
}
.advantage__item p:hover {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .b-view__all {
    margin-bottom: 100px;
  }
}
.aboutus__inner .circle__bg {
  bottom: 0;
}
.tab_title_categories {
  margin-top: 70px;
}
@media screen and (min-width: 1200px) {
  .section__bottom__text__arena {
    padding-bottom: 154px;
    padding-top: 130px;
  }
}
.profile_section {
  padding-top: 150px;
  padding-bottom: 120px;
  min-height: 100vh;
  background-color: #0b071e;
  padding-left: 19vw;
  padding-right: 127px;
}
@media screen and (max-width: 1200px) {
  .profile_section {
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  .profile_section {
    padding: 80px 0 30px;
  }
}
.woocommerce-MyAccount-navigation {
  margin-bottom: 60px;
}
@media screen and (max-width: 575px) {
  .woocommerce-MyAccount-navigation {
    margin-bottom: 0;
  }
}
.woocommerce-MyAccount-navigation ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 575px) {
  .woocommerce-MyAccount-navigation ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.woocommerce-MyAccount-navigation ul li a {
  font-size: 24px;
  font-family: "Niveau Grotesk";
  font-weight: 400;
  color: white;
  margin: 0 25px;
  padding: 0 7px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 20px;
  color: #494369;
  transition: all 0.25s ease;
}
@media screen and (max-width: 575px) {
  .woocommerce-MyAccount-navigation ul li a {
    margin-bottom: 10px;
    display: inline-block;
    padding-bottom: 10px;
  }
}
.woocommerce-MyAccount-navigation ul li.is-active a, .woocommerce-MyAccount-navigation ul li:hover a {
  transition: all 0.25s ease;
  border-color: #098cec;
  color: #fff;
}
.woocommerce-MyAccount-navigation ul li:last-child {
  margin-left: auto;
}
@media screen and (max-width: 575px) {
  .woocommerce-MyAccount-navigation ul li:last-child {
    margin-left: 0;
  }
}
.hidden {
  display: none;
}
.profile_tab {
  width: 100%;
  min-height: calc(100vh - (150px + 120px + 36px + 60px));
  border-radius: 8px;
  background-color: #050215;
  padding: 50px 45px;
  font-family: 'Niveau Grotesk';
}
@media screen and (max-width: 992px) {
  .profile_tab {
    padding: 30px;
    min-height: auto;
  }
}
.profile_tab .edit-account {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
}
.profile_tab .form-row {
  max-width: 49%;
  width: 100%;
  display: flex;
  padding: 0 15px;
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Niveau Grotesk';
}
@media screen and (max-width: 768px) {
  .profile_tab .form-row {
    max-width: 100%;
  }
}
.profile_tab .form-row label {
  font-size: 16px;
  color: white;
  line-height: 1.875;
  font-family: 'Niveau Grotesk';
}
.profile_tab .form-row input {
  padding: 12px 20px;
  font-family: 'Niveau Grotesk';
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.102);
  border: none;
  box-shadow: none;
  font-size: 16px;
  color: #7e7e7e;
}
.profile_tab .form-row input::placeholder {
  font-size: 16px;
  color: #7e7e7e;
}
.profile_tab .woocommerce-Button {
  font-family: 'Colus';
  padding: 20px 60px;
  font-size: 18px;
}
.profile_tab .save-woocommerce-form-row {
  max-width: 100%;
}
.profile_tab .woocommerce-orders-table {
  width: 100%;
  font-family: 'Niveau Grotesk';
  color: #fff;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.profile_tab .woocommerce-orders-table th {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
  padding: 15px;
}
.profile_tab .woocommerce-orders-table .woocommerce-orders-table__cell-order-status {
  display: flex;
  align-items: center;
}
.profile_tab .woocommerce-orders-table td {
  vertical-align: middle;
  padding: 15px;
}
.profile_tab .woocommerce-orders-table td svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.profile_tab .woocommerce-orders-table tbody tr {
  padding-bottom: 5px;
}
.profile_tab .woocommerce-orders-table tbody td {
  background-color: rgba(255, 255, 255, 0.102);
}
.profile_tab .woocommerce-orders-table tbody td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.profile_tab .woocommerce-orders-table tbody td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
footer .container__header {
  max-width: 1524px;
}
.modal-content {
  border-radius: 10px;
  background-color: #0c081f;
  box-shadow: 0px 15px 60px 0px rgba(47, 52, 93, 0.23);
  text-align: center;
  padding: 40px 50px;
}
.modal-content .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-content .modal-footer {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content .modal-header {
  border: none;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.modal-content .modal-header h5 {
  font-size: 30px;
  color: #098cec;
  text-align: center;
}
.modal-content .accept_terms {
  display: flex;
  align-items: center;
}
.modal-content .accept_terms label {
  margin: 0;
}
.modal-content .accept_terms label a {
  font-size: 16px;
  font-family: "Niveau Grotesk";
  color: #098cec;
}
.modal-content .accept_terms input {
  margin-right: 20px;
}
.modal-content .modal-body {
  padding: 0;
}
.modal-content .modal-body form input:not([type='checkbox']) {
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.102);
  font-size: 16px;
  color: #7e7e7e;
  border: none;
  box-shadow: none;
  height: 47px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.modal-content .modal-body form input[type='submit'] {
  display: block;
  min-width: 119px;
  width: 100%;
  max-width: 255px;
  padding: 10px 13px 6px;
  border-radius: 6px;
  background-color: #098cec;
  border: none;
  margin: 50px auto 50px;
  border-bottom: 3px solid #36b3ff;
  box-shadow: 0 0 41px 1px rgba(54, 179, 255, 0.2);
  transition: 0.2s;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.modal-content .modal-body form p {
  margin: 0;
}
.modal-content .modal-body form input[type='checkbox'] {
  width: 24px;
  height: 24px;
}
.modal-content .modal-footer p, .modal-content .modal-footer a {
  font-family: "Niveau Grotesk";
  font-size: 20px;
  color: white;
  margin: 0;
  line-height: 1.3;
}
.modal-content .modal-footer .forgot {
  font-size: 18px;
  color: #494369;
  line-height: 4.167;
  text-transform: unset;
  font-family: "Niveau Grotesk";
}
.modal-content .modal-footer .reg_link {
  font-family: "Niveau Grotesk";
  line-height: 2;
  color: #098cec;
}
@media screen and (max-width: 1480px) {
  .header__logo:before {
    content: '+';
    border: none;
    font-size: 30px;
    font-family: "Colus";
    color: rgba(254, 254, 254, 0.2);
    text-transform: uppercase;
    line-height: 1.833;
    transform: none;
    position: absolute;
    top: 40px;
    right: 10px;
    line-height: 15px;
  }
  .header__logo {
    padding-left: 10px;
    padding-right: 40px;
    width: 100%;
  }
  .js_header_aside {
    height: 80px;
    overflow: hidden;
    box-shadow: 0 5px 0 0 rgba(47, 52, 93, 0.6);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
  .js_header_aside:hover {
    height: auto;
    transition: all 0.25s ease-in-out;
  }
  .js_header_aside:hover .header__logo:before {
    display: none;
  }
  .header__nav > ul > li {
    padding: 15px;
  }
  .header__logo {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .dropdown .list {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .header__logo:before {
    display: none;
  }
  .header__logo {
    max-width: 200px;
    padding: 0;
  }
  .header {
    padding-left: 0;
  }
  .header_aside {
    height: calc(100vh - 66px);
    max-width: 100%;
    left: -100%;
    background-color: #0b071e;
    top: 67px;
    padding: 30px 0;
    overflow-y: auto;
    /* width */
  }
  .header_aside::-webkit-scrollbar {
    width: 5px;
    /* Track */
  }
  .header_aside ::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Handle */
  }
  .header_aside::-webkit-scrollbar-thumb {
    background: #888;
    /* Handle on hover */
  }
  .header_aside::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .header_aside.active {
    left: 0;
    top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header__nav {
    position: static;
    top: unset;
    height: auto;
  }
  .header_acc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_wow_versions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header_wow_versions a {
    margin-right: 0;
  }
  .header_menu_left {
    overflow: visible;
  }
  .header__nav > ul > li.dropdown > a:before {
    display: none;
  }
  .header__nav > ul > li.dropdown {
    position: relative;
  }
  .dropdown.open .list {
    height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
    overflow: visible;
  }
}
.my_account_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 8px;
  background-color: #16112e;
  box-shadow: 0px 5px 30px 0px rgba(47, 52, 93, 0.6);
  transition: all 0.25s ease;
}
@media screen and (max-width: 992px) {
  .my_account_list {
    height: auto;
    position: static;
    margin: 15px 0;
    box-shadow: none;
  }
}
.my_account_list a {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.302);
  text-transform: uppercase;
  line-height: 2.5;
}
.my_account_list a:hover {
  color: #fff;
}
@media screen and (max-width: 992px) {
  .my_account_list a {
    line-height: 1.6;
    font-size: 16px;
    border: 1px solid;
    margin-bottom: 3px;
  }
}
.header_acc .btn {
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease;
}
@media screen and (max-width: 992px) {
  .header_acc .btn {
    overflow: visible;
  }
}
.header_acc .btn:hover {
  overflow: visible;
  transition: all 0.25s ease;
}
.header_acc .btn:hover .my_account_list {
  height: auto;
  transition: all 0.25s ease;
}
@media screen and (max-width: 768px) {
  .orders-tab {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* width */
  }
  .orders-tab::-webkit-scrollbar {
    height: 3px;
    /* Track */
  }
  .orders-tab ::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Handle */
  }
  .orders-tab::-webkit-scrollbar-thumb {
    background: #098cec;
    /* Handle on hover */
  }
  .orders-tab::-webkit-scrollbar-thumb:hover {
    background: rgba(9, 140, 236, 0.7);
  }
}
.woocommerce-orders-table {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
.dropdown.open .list {
  height: auto;
  padding-top: 25px;
  padding-bottom: 30px;
  overflow: visible;
}
.dropdown.open span.after {
  transform: rotate(45deg);
}
.dropdown span.after {
  content: '+';
  border: none;
  font-size: 30px;
  font-family: "Colus";
  color: rgba(254, 254, 254, 0.2);
  text-transform: uppercase;
  line-height: 1.833;
  transform: none;
  position: absolute;
  top: 22px;
  right: 15px;
  line-height: 15px;
  cursor: pointer;
}
